@import '@styles/base';

.background {
  position: static;
  background-image: url(../../static/images/bg-desktop-light.jpg);
  background-size: cover;
  width: 100vw;
  height: 400px;
}

.backgroundDark {
  position: static;
  background-image: url(../../static/images/bg-desktop-dark.jpg);
  background-size: cover;
  width: 100vw;
  height: 400px;
}

.container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: hsl(0, 0%, 98%);
}

.containerDark {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: hsl(207, 26%, 17%);
}
