$color-white: #fff;
$color-white-fade: rgba(255, 255, 255, 0.6);
$color-dark-blue: #001a41;
$color-light-blue: #e8eef1;

// #Light Theme

$colorL-Very-Light-Gray: hsl(0, 0%, 98%);
$colorL-Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
$colorL-Light-Grayish-Blue-: hsl(233, 11%, 84%);
$colorL-Dark-Grayish-Blue: hsl(236, 9%, 61%);
$colorL-Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

// #Dark Theme

$colorD-Very-Dark-Blue: hsl(235, 21%, 11%);
$colorD-Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
$colorD-Light-Grayish-Blue: hsl(234, 39%, 85%);
$colorD-Light-Grayish-Blue-Hover: hsl(236, 33%, 92%);
$colorD-Dark-Grayish-Blue: hsl(234, 11%, 52%);
$colorD-Dark-Grayish-Blue: hsl(233, 14%, 35%);
$colorD-Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
