@import './base.scss';
:root {
  font-family:
    Josefin Sans,
    sans-serif;
  background: $color-light-blue;
  color: $color-dark-blue;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @include apply-at-md-size {
    font-size: 120%;
  }

  @include apply-at-lg-size {
    font-size: 125%;
  }
}

body {
  margin: 0;
}
