@font-face {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 400;
  src: url('/src/static/fonts/Josefins/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: Josefin Sans;
  font-style: normal;
  font-weight: 700;
  src: url('/src/static/fonts/Josefins/JosefinSans-VariableFont_wght.ttf') format('truetype');
}
