@import '@styles/base';

.todo {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  // background-color: aqua;
}

.container {
  width: 30rem;
  padding: 10px 0;
  padding-top: 150px;

  .main_text {
    width: 100%;
  }

  .underline {
    border-bottom: 2px solid grey;
    width: 100%;
  }

  .sub_text {
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;
  }

  .inputText {
    color: aqua;
  }

  .edit_icon {
    color: $colorD-Very-Dark-Blue;
    // right: 0;
  }

  .iconEditClose {
    display: flex;
  }

  .content_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;

    .text_title {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 40px;
      letter-spacing: 5px;
      font-weight: 800;
      color: rgb(255, 255, 255);
    }

    .btn {
      color: aqua;
    }
  }
}
